@font-face {
  font-family: 'DIN-Alternate-Bold';
  src: url('./fonts/DIN-Alternate-Bold.ttf'); /* IE9 Compat Modes */
  src: url('./fonts/DIN-Alternate-Bold.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/DIN-Alternate-Bold.ttf') format('woff2'), /* Super Modern Browsers */
       url('./fonts/DIN-Alternate-Bold.ttf') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/DIN-Alternate-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/DIN-Alternate-Bold.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'DIN-Condensed-Bold';
  src: url('./fonts/DIN-Condensed-Bold.ttf'); /* IE9 Compat Modes */
  src: url('./fonts/DIN-Condensed-Bold.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/DIN-Condensed-Bold.ttf') format('woff2'), /* Super Modern Browsers */
       url('./fonts/DIN-Condensed-Bold.ttf') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/DIN-Condensed-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/DIN-Condensed-Bold.ttf') format('svg'); /* Legacy iOS */
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: left;
  font-family: 'DIN-Alternate-Bold';
}

nav {
  position: fixed;
  top: 25px;
  left: 0;
  width: 100%;
  height: 50px;
}

nav img {
  z-index: -1;
  max-width: 30%;
  padding: 5px;
  border-bottom: double rgb(128, 206, 93) 10px;
}

nav .logo {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

nav ul {
  padding: 0;
  margin-bottom: 5px;
  margin-top: 0;
  text-align: center;
}

nav li {
  display: inline;
  padding: 0 5px 0 5px;
}

nav button {
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  font-size: 24px;
  font-family: 'DIN-Condensed-Bold';
  color: white;
}

button:hover,
button:focus,
a:hover,
a:focus {
  color: rgb(128, 206, 93);
  cursor: pointer;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 175px;
  width: 90%;
  max-width: 400px;
  height: 190px;
  border: 2px solid rgb(201, 201, 201);
  background: rgba(12, 12, 12, 0.712);
}

section {
  margin: 0 auto;
  text-align: center;
  vertical-align: 0;
}

.about {
  text-align: left;
  margin: 20px;
}

p, li {
  font-family: 'DIN-Condensed-Bold';
  color: white;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.home {
  top: 20px;
}

.home a {
  font-size: 36px;
}

footer {
  margin: 0 auto;
  text-align: left;
  width: 90%;
  max-width: 400px;
}

footer .logo img {
  width: 75px;
  margin-top: 5px;
}

footer ul {
  margin-top: 0;
}

@media only screen and (min-width: 580px) {
  /* main {
    width: 60%;
  } */
  nav img {
    max-width: 150px;
  }
}